<style>
     /* Links */
     a:hover {
         color: #81AB95;
     }

     /* Header Buttons on Startpage */
     a.btn {
          color: white;
          background-color: #81AB95;
     }
     a.btn:hover {
          background-color: #415957;
     }

     /* Scroll Menu on Startpage */
     a.fn-item.active {
          color: #81AB95;
     }
     a.fn-item:hover {
          color: #81AB95;
     }

     /* Content / Sections */
     .post-holder.odd {
          background: #415957;
          color: white;
     }
     .post-holder {
          background: #f2efe8;
     }
     body {
          color: #3A4145;
     }

     /* Footer */
     .site-footer {
          color: #BBC7CC;
          background-color: #415957;
     }
</style>

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
